<!DOCTYPE html>
<html>
<head>
      
    
</head>
<body>
	<div id="div_inicio">
		
		<h3 align="center">ADCIONAR FUNCIONÁRIOS</h3>

		<p>Matícula: 
			<input type="text" size="8" maxlength="8" name="matricula">	</p>
		<p>CPF: 
			<input type="text" size="11" maxlength="11" name="cpf">	</p>
		<p>Nome: 
			<input type="text" size="40" maxlength="40" name="nome">	</p>
		
		
		<p>Administrador 1(sim) ou 0(não): 
			<select name="adm">
                        <option></option>
                        <option>0</option>
                        <option>1</option>

			</select>	
			<br><br>
			<button name="salvar_funcionario">SALVAR</button>
			<button name="limpar">LIMPAR CAMPOS</button>
			<a href="adm.php" ><button name="voltar_adm">VOLTAR</button></a><br>
	</div>
		
</body>
</html>
